.gpiobase {
    position: absolute;
    width: 68px;
    height: 336px;
    background: #2d3436;
    border: 2px double #1c2021;
    top: 110px;
    left: 265px;
}

.gpiobase:before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 10px;
    background: #1c2021;
    border-radius: 0 0 10px 10px;
    top: 0;
    left: 24px;
}

.gpiobase:after {
    content: 'MCP23017';
    position: absolute;
    display: block;
    color: rgba(255, 255, 255, .8);
    margin: 0 -60px;
    top: 148px;
    left: 50px;
    font-size: .9em;
    transform: rotate(90deg);
}

.io ul {
    width: 24px;
    top: 5px;
}

.io .num {
    left: 25px;
}

.io .pin {
    background: none;
    right: -2px;
}

.io .pin:after {
    width: 4px;
    height: 12px;
    top: 2px;
    left: 3px;
    border-radius: 0;
}

.io .on a:after, .io .pullup a:after {
    content: '(active)';
    position: absolute;
    top: -1px;
    left: 60px;
}

.io .pullup a:after {
    content: '(pullup)';
}

.io .on:nth-child(-n+14) a:after {
    right: 62px;
}

.io li {
    position: relative;
    text-indent: 60px;
}

.io li a {
    width: 150px;
    color: #e9e5d2;
}

.io li:nth-child(-n+14) {
    left: -144px;
}

.io li:nth-child(-n+14) a {
    direction: rtl;
    text-align: right;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

.io li:nth-child(-n+14) .num {
    left: auto;
    right: 26px;
}

.io li:nth-child(n+15) {
    left: 64px;
    top: -329px;
}

.io li:nth-child(n+15) a {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.io li .num {
    color: #ccc;
}

.io li:nth-child(n+15) .pin {
    left: 2px;
    top: 2px;
}

.io a:hover, .io .active a {
    color: #063541;
}

.io li a:hover:before, .io .active a:before {
    content: '';
    position: absolute;
    width: 160px;
    height: 20px;
    background: #faf0e6;
    border-radius: 0 10px 10px 0;
    top: 1px;
    right: 19px;
    z-index: -1;
}

.io li:nth-child(n+15) a:hover:before, .io .active:nth-child(n+15) a:before {
    border-radius: 10px 0 0 10px;
    left: 18px;
}

.io a:hover .num, .io .active .num {
    color: #073642;
}

.io .reset {
    text-decoration: overline;
}