.board {
    padding-left: 130px;
}

.board:before {
    background-image: url("img/overlay.png");
}

.pinout, .overlay {
    width: 300px;
}

.gpiobase {
    width: 48px;
    height: 380px;
    top: 69px;
    left: 20px;
}

.gpios li:nth-child(odd) .num {
    right: 50px;
}

.overlay .dynamic-led {
    width: 2px;
    height: 16px;
    background: #c2321d;
    top: 140px;
    left: -302px;
    z-index: -1;
    box-shadow: -5px 0px 13px 6px rgba(194, 50, 29, .75);
}

.overlay .led1 {
    top: 240px;
}

.overlay .led2 {
    top: 340px;
}

.overlay .led3 {
    top: 440px;
}

.overlay .dynamic-overlay {
    width: 407px;
    height: 71px;
    background: url("img/relay.png");
    top: 115px;
    left: -204px;
}

.overlay .relay1 {
    top: 215px;
}

.overlay .relay2 {
    top: 315px;
}

.overlay .relay3 {
    top: 415px;
}