body, ul, li, a, p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-width: 320px;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
}

.container {
    position: relative;
    text-align: center;
    padding: 10px 10px 0;
}

.wrapper {
    overflow: hidden;
}

.float {
    float: left;
    width: 50%;
}

.board {
    position: relative;
    text-align: left;
    padding: 0 10px 10px 10px;
    width: 600px;
    height: 600px;
    font-size: 1.2em;
    transform: translate(-50%, 0) scale(0.5);
    transform-origin: center;
    left: 50%;
}

.board:before {
    content: " ";
    position: absolute;
    width: 600px;
    height: 518px;
    z-index: -1;
    border-radius: 28px;
    background-color: #266844;
}

.pinout, .overlay {
    position: relative;
    width: 300px;
    height: 518px;
    float: left;
}

.pinout:before, .pinout:after, .overlay:before, .overlay:after {
    content: '';
    display: block;
    width: 27px;
    height: 27px;
    background: #fff;
    border-radius: 50%;
    border: 16px solid #f7df84;
    position: absolute;
    top: 3px;
    left: 3px;
}

.pinout:after, .overlay:after {
    top: auto;
    bottom: 3px;
}

.overlay:before, .overlay:after {
    left: auto;
    right: 3px;
}

.gpiobase {
    position: absolute;
    background: #2d3436;
    z-index: 1;
}

.io {
    position: relative;
}

.io ul {
    position: absolute;
    list-style: none;
    width: 48px;
    top: 3px;
}

.io a {
    display: block;
    position: relative;
    font-size: 1em;
    line-height: 23px;
    height: 22px;
    margin-bottom: 1.5px;
}

.io li {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 7.5px 7.5px 0;
    float: left;
}

.io li a small {
    direction: ltr;
    unicode-bidi: embed;
    font-size: .7em;
}

.io .num {
    color: #073642;
    font-size: .8em;
    opacity: .8;
    text-indent: 0;
    position: absolute;
    left: 30px;
}

.io .pin {
    display: block;
    width: 16px;
    height: 16px;
    background: #2d3436;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: auto;
    right: 2px;
}

.io .pin:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fdf6e3;
    border-radius: 100%;
    top: 5px;
    left: 5px;
}

.gpios .on .pin {
    background: #c2321d;
}

.gpios .pullup .pin {
    background: #268bd2;
}

.gpios a:hover, .gpios .active a {
    background: #faf0e6;
    color: #063541 !important;
}

.gpios a:hover .num, .gpios .active .num {
    color: #073642 !important;
}

.gpios li:nth-child(odd) {
    text-indent: 68px;
    left: -140px;
}

.gpios li:nth-child(odd) a {
    direction: rtl;
    width: 158px;
    color: #063541;
    padding-left: 5px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

.gpios li:nth-child(odd) .num {
    text-align: right;
    left: auto;
    right: 38px;
}

.gpios li:nth-child(even) {
    left: 1px;
    text-indent: 60px;
}

.gpios li:nth-child(even) a {
    color: #e9e5d2;
    width: 150px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.gpios li:nth-child(even) .num {
    color: #ccc;
}

.gpios li:nth-child(even) .pin {
    left: 2px;
    top: 2px;
}

.header {
    position: relative;
}

.header ul {
    position: absolute;
    list-style: none;
    width: 470px;
    top: 13px;
    left: 69px;
}

.header li {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 7.5px 7.5px 0;
    float: left;
}

.header li:after {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 3px solid silver;
    border-radius: 100%;
}

.overlay .dynamic-led {
    position: absolute;
    display: none;
}

.overlay .on {
    display: block;
}

.overlay .selected {
    filter: drop-shadow(0 0 15px rgba(202, 255, 199, 1));
}

.page {
    vertical-align: top;
    text-align: left;
    margin: 0 auto 0 50%;
}

.page {
    position: relative;
    min-height: 480px;
    background: #ebe6d3;
    padding: 15px;
    z-index: 1;
}

.page .guide {
    display: none;
    margin-bottom: 10px;
}

.page .menu {
    background: #27ae60;
    margin: -15px -15px 15px;
}

.page .menu li {
    list-style: none;
    vertical-align: middle;
    display: inline-block;
}

.page .menu a {
    display: block;
    line-height: 50px;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
}

.page .menu a:hover, .page .menu .active a, .page .menu .dropdown:hover .dropbtn, .page .menu .dropdown .active {
    background: #2ecc71;
    text-decoration: underline;
}

.page .menu .caret {
    position: relative;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    transform: rotate(45deg);
    top: -3px;
}

.page .menu .dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.page .menu .dropdown-content a {
    color: #333;
}

.page .menu .dropdown-content a:hover, .page .menu .dropdown-content .active {
    color: #fff;
}

.page .menu .dropdown:hover .dropdown-content {
    display: block;
}

.page h1 {
    display: inline-block;
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 0;
}

.page h2 {
    margin-top: 1.2em;
    font-size: 1.2em;
}

.page h3 {
    font-size: 1.4em;
}

.page h4 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
}

.page .intro h1, .page h3 {
    color: #d33682;
}

.connection {
    display: none;
    text-align: right;
    margin: 1px 0 0 15px;
    padding: 0 5px;
    vertical-align: middle;
    background: red;
    color: #fff;
    float: right;
}

.connected, .connection-error {
    display: inline-block;
}

.connected {
    background: green;
}

.page p, .page pre {
    margin-top: 10px;
    font-size: 1em;
    line-height: 150%;
}

.page pre {
    font-family: Consolas, monaco, monospace;
    white-space: pre-wrap;
}

.page pre:last-of-type {
    margin-bottom: 0;
}

.page .bash {
    font-family: monospace;
    padding: 16px;
    background-color: rgba(255, 255, 255, .6);
}

.page .code-highlight {
    color: blue;
    font-weight: bold;
}

.page a {
    color: #859900;
    text-decoration: underline;
}

.page a:hover {
    text-decoration: none;
}

.page ul {
    margin: 10px 0 10px 20px;
}

.page ul.boards {
    margin: 0;
}

.page .boards {
    list-style: none;
    text-align: center;
}

.page .boards li {
    width: 33.3%;
    min-width: 100px;
    float: left;
}

.page .boards img {
    width: 80%;
}

.page .boards span {
    display: block;
    padding: 0 10px;
}

.page .boards a {
    display: block;
    text-decoration: none;
}

.page .boards a:hover {
    background: rgba(255, 255, 255, .2);
}

.page .demo_label {
    position: relative;
    color: #d33682;
    cursor: help;
    float: right;
}

.page .demo_label a {
    font-style: italic;
    text-decoration: none;
}

.page .demo_tooltip {
    visibility: hidden;
    width: 260px;
    background-color: #555;
    color: #fff;
    line-height: 1.1em;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 140%;
    right: 10px;
    margin-left: -230px;
    opacity: 0;
    transition: opacity 0.3s;
}

.page .demo_tooltip:after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 20px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.page .demo_label:hover .demo_tooltip {
    visibility: visible;
    opacity: 1;
}

.page .button {
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background-color: #d0451b;
    border-radius: 3px;
    border: 1px solid #942911;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: .81em;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    margin-bottom: 10px;
}

.page .button:hover {
    background-color: #bc3315;
}

.page .button:active {
    position: relative;
    top: 1px;
}

.page .button-disabled {
    box-shadow: inset 0px 1px 0px 0px #91b8b3;
    border: 1px solid #566963;
    cursor: default;
    color: #c7c7c7;
    text-shadow: 0px 1px 0px #2b665e;
    background-color: #768d87 !important;
    top: 0 !important;
}

.page-wrapper {
    min-height: 400px;
}

.page .i2c-table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

.page .i2c-table th, .page .i2c-table td {
    text-align: left;
    padding: 8px;
    text-align: center;
}

.page .i2c-table td:not(:first-child) {
    font-size: 40px;
    line-height: 16px;
}

.page .i2c-table tr  {
    background-color: rgba(255, 255, 255, .8);
}

.page .i2c-table tr:nth-child(even), .page .i2c-table thead tr {
    background-color: rgba(255, 255, 255, .4);
}

.page .i2c-table .selected {
    color: #268bd2;
}

.clear {
    clear: both;
}

.page .details {
    width: 100%;
}

.page .details td {
    vertical-align: top;
}

.page .details td:nth-child(2) {
    text-align: right;
}

.page .log {
    width: 100%;
    min-height: 82px;
    background: #fff;
    outline: none;
    padding: 5px;
    margin-top: 15px;
    resize: vertical;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer {
    padding: 20px 10px;
    text-align: center;
}

.footer a {
    color: #5f8645;
}

@media only screen and (max-width: 967px) {
    .float {
        float: none;
        width: inherit;
    }
    
    .page {
        margin-left: 0;
    }
    
    .board {
        transform: translate(-50%, 0) scale(0.8);
    }
    
    .wrapper {
        padding-top: 50px;
        margin: -5% auto;
    }
}

@media only screen and (max-width: 768px) {
    .board {
        transform: translate(-50%, 0) scale(0.6);
    }
    
    .wrapper {
        margin: -12% auto;
    }
}

@media only screen and (max-width: 720px) {
    .container {
        padding: 10px 0 0;
    }
    
    .wrapper {
        margin: -14% auto;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        margin: -16% auto;
    }
}

@media only screen and (max-width: 500px) {
    .board {
        transform: translate(-50%, 0) scale(0.45);
    }
    
    .wrapper {
        margin: -25% auto;
    }
}

@media only screen and (max-width: 450px) {
    .board {
        transform: translate(-50%, 0) scale(0.42);
    }
    
    .wrapper {
        margin: -32% auto;
    }
}

@media only screen and (max-width: 400px) {
    .board {
        transform: translate(-50%, 0) scale(0.4);
    }
    
    .wrapper {
        margin: -37% auto;
    }
    
    .page h1 {
        font-size: 1.2em;
    }
    
    .page pre {
        font-size: .8em;
    }
    
    .page .demo_label {
        float: none;
    }
}

@media only screen and (min-width: 968px) {
    .board {
        transform: translate(-50%, 0) scale(0.55);
    }
}

@media only screen and (min-width: 1024px) {
    .board {
        transform: translate(-50%, 0) scale(0.6);
    }
}

@media only screen and (min-width: 1100px) {
    .board {
        transform: translate(-50%, 0) scale(0.65);
    }
}

@media only screen and (min-width: 1200px) {
    .board {
        transform: translate(-50%, 0) scale(0.72);
    }
}

@media only screen and (min-width: 1280px) {
    .board {
        transform: translate(-50%, 0) scale(0.75);
    }
}

@media only screen and (min-width: 1360px) {
    .board {
        transform: translate(-50%, 0) scale(0.8);
    }
}

@media only screen and (min-width: 1440px) {
    .board {
        transform: translate(-50%, 0) scale(0.85);
    }
}

@media only screen and (min-width: 1560px) {
    .board {
        transform: translate(-50%, 0) scale(0.9);
    }
}

@media only screen and (min-width: 1680px) {
    .board {
        transform: translate(-50%, 0) scale(0.95);
    }
}

@media only screen and (min-width: 1920px) {
    .board {
        transform: translate(-50%, 0) scale(1);
    }
}